@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

h{
    font-family: "Poppins";
    color: #fff;
}

.ww{
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.whoa{
    display: flex;
    justify-content: center;
    font-size: 56px;
    font-weight: 900;
    color: #fff;
}

.wait{
    font-size: 20px;
    color: #fff;
    top: 200px;
    left: 200px;
    font-weight: 200;
}

.how{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 32px;
    color: #fff;
}

.steps{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 20%px;
    background-color: #111;
    border-radius: 10px;
    border: 2px solid #222;
}

.solve,.eg,.download{
    padding: 20px;
    font-weight: 300;
    font-size: 20px;
}

a{
    color: #fff;
}

a:link{
    z-index: 10;
    color: #fff;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}