<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"/>
    <link rel="stylesheet" href="{{url_for('static',path='/welcome.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How should I use this?</title>
</head>
<body>
    <div class="ww">
        <h class="whoa">Whoa!</h>
        <h class="wait">Wait</h>
    </div>
    <h class="how">How do i use this?</h>
    <div class="steps">
        <h class="solve">Add "/solve/ [ Coefficient Matrix ] / [ Constant Matrix ]"<br> at the end of the url which is "linalgSolve.up.railway.app"</h>
        <h class="eg">linalgSolve.up.railway.app/solve/[[1,1,3],[2,3,-4],[3,2,7]]/[[6],[6],[0]]</h>
    </div>
</body>
</html>